<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
 

  <!-- ðŸŒ Country Search Bar -->
   <div class="navbar-nav ms-auto">
 <form action="/listings/search" method="GET" class="d-flex align-items-center">
  <input type="text" name="country" class="form-control me-2"
       style="border-radius: 50px; border: 2px solid black;"
       placeholder="Search by country..."
       value="<%= typeof country !== 'undefined' ? country : '' %>">
    <button class="btn btn-outline-dark me-2" style="background-color:  #fe424d; color: white; border-radius: 50px;"><i>Search</i></button>
    <a href="/listings" class="btn btn-outline-secondary" style="border-radius: 50px;"><i>Reset</i></a>
  </form>
</div> 



<div class="navbar-nav ms-auto me-3 auth-buttons">

   <a class="nav-link" href="/listings/new">Airbnb your home</a>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <% if (currUser) { %>
        <li class="nav-item">
          <b><span class="nav-link" style="opacity: 0.7;">Hello, <%= currUser.username %>!</span></b>
        </li>
        </style>
        <li class="nav-item">
          <form action="/logout" method="POST">
           <b><button class="btn btn-link nav-link" style="opacity: 0.7;" type="submit">Logout</button></b> 
          </form>
        </li>
      <% } else { %>
         <b> <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/signup">Sign Up</a></li></b>
       <b> <li class="nav-item"><a class="nav-link" style="opacity: 0.7;" href="/login">Login</a></li></b>
      <% } %>
    </ul>
  </div>
</nav>



</div>
    </div>
  </div>
</nav>

